/*----- 1. VARIABLES -----*/

:root {
    --white: #fff;
    --black: #000;
    --darkgray: #333;
    --medgray: #666;
    --lightgray: #ccc;
    --purple: #800080;
    --darkpurple: #500050;
    --pink: #c000c0;
    --green: #008000;
    
    --link-padding: 10px;
}

/*----- 2. FONTS -----*/

@font-face {
    font-family: 'Roboto Black';
    src: url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto LightItalic';
    src: url('../fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
}

/*----- 3. DEFAULTS -----*/

*, *::before, *::after {
    box-sizing: border-box;
}
html {
    animation: fade 1s ease-in;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    background:linear-gradient(45deg, orange 0%, purple 100%);
    background-attachment: fixed;
    font-family: 'Roboto Regular', sans-serif;
}
img {
    max-width: 100%;
}

/*----- 4. TYPOGRAPHY -----*/
h1, h2 {
    color: var(--white);
    font-family: 'Roboto Black', sans-serif;
    letter-spacing: 0.1rem;
    line-height: 4rem;
}
h1, h2, h4, p {
    margin: 0;
    padding: 0;
}
h3 {
    font-family: 'Roboto Medium', sans-serif;
}
a {
    text-decoration: none;
    padding: var(--link-padding);
    border-radius: 5px;
    transition: 0.5s ease;
}
a:hover {
    background: var(--pink);
    color: var(--white);
}
section, section p {
    margin: 15px 0;
    line-height: 1.5rem;
}
blockquote {
    font-style: italic;
    font-size: 1.2rem;
}

/*----- 5. BORDERS -----*/

.box-shadow {
    box-shadow: 1px 1px 5px 1px;
}
.border-a {
    border: 3px double var(--green);
}
.border-a:hover {
    border-color: var(--pink);
}
a.small-a {
    font-size: 0.8rem;
    padding: 0;
    cursor: pointer;
}
a.small-a:hover {
    background: none;
}
.section-wide a.small-a:hover {
    color:var(--purple);
}

/*----- 6. CLASSES -----*/
.softer-text {
    color: var(--lightgray);
    font-weight: 100;
}
.medium-text {
    color: var(--medgray);
    font-weight: 100;
}
.purple-box {
    padding: 10px;
    background: var(--darkpurple);
    color: var(--white);
}
.section-wide a {
    color: var(--green);
}
.section-wide a:hover {
    color: var(--white);
}
.section-wide a.border-a {
    position: absolute;
    right: 5px;
    top: 5px;
}
.active {
    color: #aa0000;
}
.active:hover {
    background: transparent;
    color: #aa0000;
}
/*----- 7. IDs -----*/
