*, *::before, *::after {
    box-sizing:border-box;
}

:root {
    --main-background-color:#222;
    --second-background-color:#333;
    --dark-background-color:#000;
    --border-color-one:#b70;
    --border-color-two:#07b;
    --gradient-background-color:linear-gradient(90deg, #333, #555);
    --light-font-color:#ddd;
}

body {
    margin:0;
    padding:0;
    font-family:georgia, serif, sans-serif;
    font-size:1rem;
    background:var(--main-background-color);
}
h1, h2, h3 {
    margin:0;
    padding:0;
}
h1, h2 {
    line-height:1.5em;
}
h3 {
    font-family:sans-serif;
}
h4 {
    color:#ddd;
    font-size:1.5rem;
    font-family:sans-serif;
    padding:0px 30px;
}
img {
    max-width:100%;
    display:block;
}
a {
    cursor:pointer;
    color:#fff;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
hr {
    width:90%;
}
div.header-container {
    position:relative;
    overflow:hidden;
    margin-bottom:50px;
}
div.header-image {
    display:none;
    max-height:600px;
    overflow:hidden;
    position:relative;
    background:var(--second-background-color);
}
div.header-text {
    background:var(--second-background-color);
    padding:14px;
    text-align:center;
}
div.header-text h1 {
    font-style:italic;
    color:#ddd;
}
div.header-text h2 {
    color:#ff0;
    font-size:1.2rem;
}
div.header-info {
    background:var(--second-background-color);
    padding:0.5em;
    text-align:center;
}
div.header-info h3 {
    font-size:1rem;
    letter-spacing:0.2em;
    line-height:2em;
    color:#fff;
}
div.social-media-bar {
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
    margin:20px auto;
}
div.social-media-image img {
        height:70px;
        aspect-ratio:1;
        border-radius:50%;
        padding:10px;
    }
div.social-media-image img:hover {
    box-shadow:0 0 5px 1px #ddd;
    transition:0.3s ease-in;
}
main {
    margin-bottom:50px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:0 auto;
}
div.row {
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin:0 auto;
    margin-bottom:50px;
    gap:30px;
    flex-wrap:wrap;
}
div.col {
    height:auto;
    width:40%;
    border-radius:15px;
    background:var(--dark-background-color);
    margin:0 10px;
}
div.col a img.portfolio-image {
    border-radius:5px;
}
img.portfolio-image {
    width:100%;
}
div.portfolio-header {
    text-align:center;
    border-top:2px solid #bbb;
    padding:5px;
    line-height:1.5em;
}

section#html-and-css div.row div.col {
    border:7px solid var(--border-color-one);
}
section#html-and-css div.row div.col div.portfolio-header {
    border-top:2px solid var(--border-color-one);
}

section#javascript div.row div.col {
    border:7px solid var(--border-color-two);
}
section#javascript div.row div.col div.portfolio-header {
    border-top:2px solid var(--border-color-two);
}

section#bootstrap div.row div.col {
    border:7px solid var(--border-color-one);
}
section#bootstrap div.row div.col div.portfolio-header {
    border-top:2px solid var(--border-color-one);
}

div.portfolio-header h3 {
    color:#ff0;
    font-size:1rem;
}
div.portfolio-header p {
    color:#fff;
    font-size:0.8rem;
}
div.about-flex {
    display:flex;
    flex-direction:column;
    margin-top:30px;
}
div.about-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
     margin:30px;
    padding:30px;
    background:var(--gradient-background-color);
    color:var(--light-font-color);
    font-size:0.8rem;
    letter-spacing:0.1rem;
    font-family:sans-serif;
}
div.about-image img {
    height:200px;
    margin:0 auto;
}
div.about-skills ul {
    list-style:none;
    padding:0;
}
div.about-skills ul li {
    padding:15px;
    border-top:1px solid #ddd;
    font-size:1rem;
}
div.about-skills ul li:nth-last-child(1) {
    border-bottom:1px solid #ddd;
}

div.about-skills ul li:nth-child(2n-1) {
    background:var(--border-color-one);
}
div.about-skills ul li:nth-child(2n) {
    background:var(--border-color-two);
}

/*----- DESKTOP -----*/

@media only screen and (min-width:800px) {
    div.header-image {
        display:block;
    }
    div.header-image img {
        text-align:left;
        height:112px;
    }
    div.header-container {
        display:flex;
    }
    div.header-text {
        flex-grow:1;
    }
    div.header-info {
        position:relative;
        padding:20px;
        top:auto;
        left:auto;
    }
    div.social-media-bar {
        flex-direction:row;
        justify-content:center;
        margin-bottom:50px;
    }
    div.row {
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
        gap:20px;
    }
    div.col {
        margin:0 10px;
        margin-bottom:50px;
        width:20%;
    }
    div.about-flex {
        flex-direction:row-reverse;
        flex-wrap:wrap;
        justify-content:center;
        gap:50px;
    }
    div.about-container {
        width:100%;
        max-width:600px;
        margin:0;
    }
}
@media only screen and (min-width:1000px) {
    div.col {
        width:25%;
    }
    div.about-container {
        width:auto;
    }
}